<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" id="title" href="/">Steve, Mary Kate, and Anton's Web App</a>
      <a id="test1234" href="/login">Log In</a>

    </div>
  </nav>
