<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>API App - Index</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" href="<../public/styles/style.css">
   </head>

   <body>
      <% include global/header %>



      <!-- Page Content -->
        <div class="container">

          <h1 class="my-4"></h1>

          <!-- Marketing Icons Section -->
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Enter Email</h4>
                <div class="card-body">
                  <p class="card-text">Enter email here to get your API Key.</p>
                  <form action="/login" method="get">
         				<input type="text" id="enter_email_input" name="email_address" required>
                </div>
                     <div class="card-footer">
                        <button type="submit" class="btn btn-primary" id="enter_email_button">Get Key</button>
                     </div>
         			</form>

              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Instructions</h4>
                <div class="card-body">
                  <p class="card-text">Basically there's just one code attached to ur email address blah blah blah. Enter it to the left, etc... more text explaining this API</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header">About</h4>
                <div class="card-body">
                  <p class="card-text">This API's purpose is to... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->



      <div>



      </div>

      <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>



</html>
