<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Home</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link rel="stylesheet" href="styles/style.css">
   </head>

   <body>
      <% include global/header %>



      <!-- Page Content -->
        <div class="container">

          <h1 class="my-4"></h1>

          <!-- Marketing Icons Section -->
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header">Enter Email</h4>
                <div class="card-body">
                  <p class="card-text">Enter email here to get your API Key.</p>
                  <form action="/results" method="post">
         				<input type="text" id="enter_email_input" name="email_address" required>
                </div>
                     <div class="card-footer">
                        <button type="submit" class="btn btn-primary" id="enter_email_button">Get Key</button>
                     </div>
         			</form>

              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header">How to Use</h4>
                <div class="card-body">
                  <p class="card-text">Enter your email and get a key. There's one unique key to every email address. No sort of password or authentication neccessary. Click the button below to see all of the query requests and routes possible.</p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Query Routes</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card h-100">
                <h4 class="card-header">About the API</h4>
                <div class="card-body">
                  <p class="card-text">Our API uses data from NYC Open Data. We link school attendance percentages to the number of school projects currently underwork at each institution.</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary invisible">Learn More</a>
                </div>
              </div>
            </div>

          </div>
          <!-- /.row -->
      </div>



      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Query Routes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <table class="table table-striped">
                 <thead>
                   <tr>
                     <th scope="col">Paramater</th>
                     <th scope="col">Returns</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <td>schoolName</th>
                     <td>"Trinity"</td>
                   </tr>
                   <tr>
                     <td>schoolName</th>
                     <td>"Trinity"</td>
                   </tr>
                   <tr>
                     <td>schoolName</th>
                     <td>"Trinity"</td>
                   </tr>
                   <tr>
                     <td>schoolName</th>
                     <td>"Trinity"</td>
                   </tr>
                   <tr>
                     <td>schoolName</th>
                     <td>"Trinity"</td>
                   </tr>
                 </tbody>
               </table>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>


      <% include global/footer %>
      <!-- Footer -->


      <!-- Bootstrap core JavaScript -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>



</html>
