<!DOCTYPE html>
<html>
   <head>
      <title>API App - Index</title>
		<link rel="stylesheet" href="<../public/styles/style.css">
   </head>

   <body>
      <% include global/header %>

      <div>

         <form action="/login" method="get">
				Email:<input type="text" id="enter_email_input" name="email_address" required>
				<button type="submit" id = "enter_email_button">Login</button>
			</form>

      </div>




   </body>



</html>
