<footer class="py-5 bg-dark footer">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Steve, Mary Kate, and Anton, 2019. Idk how copyrighting stuff works.</p>
    <p class="m-0 text-center text-white"> Contact us at anton.stengel19@trinityschoolnyc.org for more information or questions.</p>
  </div>
</footer>
